# Python veirtual enviroment
.venv*
venv/
.idea/

# Settings 
*.env*

# Coockie
cookies*
cookie*

# Cache
.pytest_cache/
__pycache__/

# DataBase
db.*

# Test
test.py

# VSCode 
.VScode*

# SQL 
*.sqlite3-query

# Currencies
*.json